.masters {
  padding-top: 120px;
  &__descr {
    width: 700px;
    font-size: 22px;
    color: var(--light-color);
  };
};

.price {

  &__title {
    font-size: 30px;
    color: var(--light-color);
  }
  p {
    margin-right: 0;
  }
  &__reverse {
    flex-direction: row-reverse;
    p, ul {
      margin-left: 0;
      margin-right: 50px;
    };
    ul {
      margin-right: 50px;
    };
  };
  img {
    width: 689px;
  }
};
