.nav {
  svg {
    width: 24px;
    height: 24px;
    fill: transparent;
    stroke: var(--light-color);
  };
};

.social {
  &__list {
    font-size: 0;
    margin-bottom: 12px;
  };

  &__link {
    svg {
      width: 24px;
      height: 24px;
    };
  };

  &__btn {
    margin-bottom: 13px;
  };

  &__developer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
};
