<section class="price-services">
  <div class="container">
    <h2 class="title">Цены на Услуги</h2>
    <div class="price-services__wrapper price">
      <img src="./img/cosmetology.png" alt="Лежит девушка" title="Девушке наносят маску кисточкой">
      <ul class="list-reset price__list">
        <li class="price__item">
          Перманентный макияж бровей <span>от 8000 &#8381;</span>
        </li>
        <li class="price__item">
          Перманентный макияж век <span>от 8000 &#8381;</span>
        </li>
        <li class="price__item">
          Перманентный макияж губ <span>от 8000 &#8381;</span>
        </li>
        <li class="price__item">
          Прокол ушей <span>от 1500 &#8381;</span>
        </li>
      </ul>
    </div>

    <h2 class="title price-services__subtitle">Записаться</h2>
      <div class="request__form form">
        <form action="#" class="form__fild">
          <label class="form__label">
            Ваше имя
            <input type="text" name="Имя" class="input-reset form__input" placeholder="Ваше имя">
          </label>

          <label class="form__label">
            Ваш телефон
            <input type="tel" name="Телефон" class="input-reset form__input _req" placeholder="+7 ( _ _ _ ) _ _ _ - _ _ - _ _">
          </label>

          <label class="form__label form__label--textarea">
            Ваш комментарий
            <textarea class="input-reset form__input form__input--textarea" name="Комментарий" placeholder="Ваш комментарий"></textarea>
          </label>
            <button type="submit" class="btn-reset form__btn">Записаться</button>
        </form>
      </div>
  </div>
</section>
