<section class="price-services">
  <div class="container">
    <h2 class="title">Цены на Услуги</h2>
    <div class="price-services__wrapper price">
      <img src="./img/eyelashes/eyelashes3.jpg" alt="Наращивание ресниц" title="Мастер наращивает девушке ресницы">
      <ul class="list-reset price__list">
        <li class="price__item">
          Объём 1D <span>от 2300 &#8381;</span>
        </li>
        <li class="price__item">
          Объём 2D <span>от 2600 &#8381;</span>
        </li>
        <li class="price__item">
          Объём 3D <span>от 3000 &#8381;</span>
        </li>
        <li class="price__item">
          Объём 4D <span>от 3300 &#8381;</span>
        </li>
        <li class="price__item">
          Объём 5-6D <span>от 3600 &#8381;</span>
        </li>
        <li class="price__item">
          Ламинирование ресниц <span>от 2000 &#8381;</span>
        </li>
        <li class="price__item">
          Окрашивание ресниц <span>от 600 &#8381;</span>
        </li>
      </ul>
    </div>

    <h2 class="title price-services__subtitle">Записаться</h2>
      <div class="request__form form">
        <form action="#" class="form__fild">
          <label class="form__label">
            Ваше имя
            <input type="text" name="Имя" class="input-reset form__input" placeholder="Ваше имя">
          </label>

          <label class="form__label">
            Ваш телефон
            <input type="tel" name="Телефон" class="input-reset form__input _req" placeholder="+7 ( _ _ _ ) _ _ _ - _ _ - _ _">
          </label>

          <label class="form__label form__label--textarea">
            Ваш комментарий
            <textarea class="input-reset form__input form__input--textarea" name="Комментарий" placeholder="Ваш комментарий"></textarea>
          </label>
            <button type="submit" class="btn-reset form__btn">Записаться</button>
        </form>
      </div>
  </div>
</section>
