<section class="price-services">
  <div class="container">
    <h2 class="title">Цены на Услуги</h2>
    <div class="price-services__wrapper price">
      <img src="./img/hairdresser/hairdresser1.jpeg" alt="Наращивание ногтей" title="Мастер красит ногти девушке">
      <ul class="list-reset price__list">
        <li class="price__title">
          Стрижки
        </li>
        <li class="price__item">
          Женская стрижка <span>от 400 &#8381;</span>
        </li>
        <li class="price__item">
          Удаление секущихся концов ножницами  <span>от 500 &#8381;</span>
        </li>
        <li class="price__item">
          Мужская стрижка <span>от 700 &#8381;</span>
        </li>
        <li class="price__item">
          Без насадки (0 мм) / Насадка (3 мм) <span>от 200 &#8381;</span>
        </li>
        <li class="price__item">
          Насадка (6 мм) <span>от 250 &#8381;</span>
        </li>
        <li class="price__item">
          Модельная стрижка <span>от 350 &#8381;</span>
        </li>
        <li class="price__item">
          Детская стрижка <span>от 300 &#8381;</span>
        </li>
        <li class="price__item">
          Мытьё головы <span>от 50 &#8381;</span>
        </li>

        <li class="price__description">
           Для густых или очень длинных волос стоимость услуги может быть увеличена, что связано с дополнительным расходом материалов и временем выполнения работы. Чтобы уточнить детали и получить точный расчет, мы предлагаем посетить бесплатную консультацию с нашим мастером.
        </li>
      </ul>
    </div>


    <div class="price-services__wrapper price-services__wrapper--revers price">
      <img src="./img/hairdresser/hairdresser2.jpg" alt="Наращивание ногтей" title="Мастер красит ногти девушке">
      <ul class="list-reset price__list">
        <li class="price__title">
          Укладка
        </li>
        <li class="price__item">
          Повседневная укладка <span>от 500 &#8381;</span>
        </li>
        <li class="price__item">
          Вечерняя или праздничная укладка <span>от 1500 &#8381;</span>
        </li>
      </ul>
    </div>

    <div class="price-services__wrapper price">
      <img src="./img/hairdresser/hairdresser3.png" alt="Наращивание ногтей" title="Мастер красит ногти девушке">
      <ul class="list-reset price__list">
        <li class="price__title">
          Окрашивание
        </li>
        <li class="price__item">
          Сложное окрашивание <span>от 2500 &#8381;</span>
        </li>
        <li class="price__item">
          Окрашивание корней <span>от 1000 &#8381;</span>
        </li>
        <li class="price__item">
          Мелирование, омбре, балаяж <span>от 1000 &#8381;</span>
        </li>
      </ul>
    </div>

    <div class="price-services__wrapper price-services__wrapper--revers price">
      <img src="./img/hairdresser/hairdresser4.png" alt="Наращивание ногтей" title="Мастер красит ногти девушке">
      <ul class="list-reset price__list">
        <li class="price__title">
          Химическая завивка и выпрямление
        </li>
        <li class="price__item">
          Химическая завивка <span>от 2500 &#8381;</span>
        </li>
        <li class="price__item">
          Кератиновое выпрямление <span>от 2000 &#8381;</span>
        </li>
      </ul>
    </div>

    <div class="price-services__wrapper price">
      <img src="./img/hairdresser/hairdresser5.png" alt="Наращивание ногтей" title="Мастер красит ногти девушке">
      <ul class="list-reset price__list">
        <li class="price__title">
          Уходовые процедуры
        </li>
        <li class="price__item">
          Ламинирование волос <span>от 2000 &#8381;</span>
        </li>
        <li class="price__item">
          Ботокс для волос <span>от 2500 &#8381;</span>
        </li>
      </ul>
    </div>

    <div class="price-services__wrapper price-services__wrapper--revers price">
      <img src="./img/hairdresser/hairdresser6.jpeg" alt="Наращивание ногтей" title="Мастер красит ногти девушке">
      <ul class="list-reset price__list">
        <li class="price__title">
          Прически и плетения
        </li>
        <li class="price__item">
          Свадебная прическа <span>от 3000 &#8381;</span>
        </li>
        <li class="price__item">
          Плетение кос (разные виды) <span>от 1000 &#8381;</span>
        </li>
      </ul>
    </div>

    <h2 class="title price-services__subtitle">Записаться</h2>
      <div class="request__form form">
        <form action="#" class="form__fild">
          <label class="form__label">
            Ваше имя
            <input type="text" name="Имя" class="input-reset form__input" placeholder="Ваше имя">
          </label>

          <label class="form__label">
            Ваш телефон
            <input type="tel" name="Телефон" class="input-reset form__input _req" placeholder="+7 ( _ _ _ ) _ _ _ - _ _ - _ _">
          </label>

          <label class="form__label form__label--textarea">
            Ваш комментарий
            <textarea class="input-reset form__input form__input--textarea" name="Комментарий" placeholder="Ваш комментарий"></textarea>
          </label>
            <button type="submit" class="btn-reset form__btn">Записаться</button>
        </form>
      </div>

  </div>
</section>
