<section class="price-services">
  <div class="container">
    <h2 class="title">Цены на Услуги</h2>
    <div class="price-services__wrapper price">
      <img src="./img/manicure.png" alt="Наращивание ногтей" title="Мастер красит ногти девушке">
      <ul class="list-reset price__list">
        <li class="price__item">
          Наращивание ногтей <span>от 2000 &#8381;</span>
        </li>
        <li class="price__item">
          Наращивание ногтей с нуля <span>от 2300 &#8381;</span>
        </li>
        <li class="price__item">
          Коррекция наращенных ногтей <span>от 2200 &#8381;</span>
        </li>
        <li class="price__item">
          Маникюр классический + Гель-Лак <span>от 1700 &#8381;</span>
        </li>
        <li class="price__item">
          Снятие наращенных ногтей<span>от 500 &#8381;</span>
        </li>
        <li class="price__item">
          Дизайн ногтей <span>от 50 &#8381;</span>
        </li>
        <li class="price__item">
          Снятие чужого мастера <span>от 300 &#8381;</span>
        </li>
      </ul>
    </div>

    <h2 class="title price-services__subtitle">Записаться</h2>
      <div class="request__form form">
        <form action="#" class="form__fild">
          <label class="form__label">
            Ваше имя
            <input type="text" name="Имя" class="input-reset form__input" placeholder="Ваше имя">
          </label>

          <label class="form__label">
            Ваш телефон
            <input type="tel" name="Телефон" class="input-reset form__input _req" placeholder="+7 ( _ _ _ ) _ _ _ - _ _ - _ _">
          </label>

          <label class="form__label form__label--textarea">
            Ваш комментарий
            <textarea class="input-reset form__input form__input--textarea" name="Комментарий" placeholder="Ваш комментарий"></textarea>
          </label>
            <button type="submit" class="btn-reset form__btn">Записаться</button>
        </form>
      </div>

  </div>
</section>
