<section id="about" class="about">
  <div class="container">

  <h2 class="about__title title">О нас</h2>
    <div class="about__content">
      <p class="about__description">
        Добро пожаловать в <strong>Beauty Paradise</strong> — место, где красота становится искусством!
      </p>
      <p class="about__description">
        В самом центре солнечного Сочи, на втором этаже по адресу Донская ул., 54, находится наш уютный салон красоты, который радует клиентов уже более 10 лет. История <strong>Beauty Paradise</strong> — это история о мечте, упорстве и любви к своему делу.
      </p>

      <h3 class="about__subtitle">Как все начиналось</h3>
      <p class="about__description">
        Идея создания салона появилась у его основательницы, когда она, вдохновленная мировыми трендами в индустрии красоты, решила воплотить в жизнь место, где каждый клиент мог бы почувствовать себя особенным. Вдохновением для названия послужило стремление создать настоящий "рай" красоты, где можно расслабиться, обновиться и получить услуги высочайшего качества.
      </p>
      <p class="about__description">
        С первых дней существования <strong>Beauty Paradise</strong> стремился выделяться. Основательница собрала команду опытных мастеров, для которых работа — это не просто профессия, а возможность воплощать творческие идеи. Благодаря качеству работы и вниманию к каждому клиенту, салон быстро завоевал популярность среди жителей и гостей Сочи.
      </p>

      <h3 class="about__subtitle">Путь развития</h3>
      <ul class="about__list">
        <li class="about__list-item">
          Регулярно обновляем перечень услуг в соответствии с мировыми трендами.
        </li>
        <li class="about__list-item">
          Обучаем мастеров новым техникам, чтобы предложить клиентам только лучшее.
        </li>
        <li class="about__list-item">
          Обновляем оборудование и материалы, чтобы каждая процедура была комфортной и безопасной.
        </li>
      </ul>
      <p class="about__description">
        Важной частью нашей истории стали наши клиенты. Многие из них посещают нас с самого начала работы, рекомендуя <strong>Beauty Paradise</strong> своим друзьям и близким. Для нас это самая высокая награда и мотивация продолжать развиваться.
      </p>

      <h3 class="about__subtitle">Beauty Paradise сегодня</h3>
      <p class="about__description">
        Сегодня наш салон — это не просто место, где можно получить услуги в сфере красоты. Это атмосфера, где вы можете расслабиться, доверив себя рукам профессионалов. Мы гордимся тем, что создаем не только стильные образы, но и настроение, дарим уверенность в себе и вдохновение.
      </p>
      <p class="about__description">
        Каждый визит в <strong>Beauty Paradise</strong> — это маленький праздник для души и тела, ведь здесь заботятся не только о вашей внешности, но и о вашем комфорте. Мы ждем вас, чтобы поделиться своей энергией, мастерством и теплом.
      </p>
      <p class="about__description">
        <strong>Beauty Paradise</strong> — более 10 лет опыта, 8 лет профессионализма каждого мастера и бесконечная преданность красоте.
      </p>
    </div>
  </div>
</section>
