<footer class="footer">
  <div class="container">
    <div class="footer__wrapper">
      <ul class="list-reset footer__list">
        <li class="footer__label">Контакты:</li>
        <li class="footer__item">
          <a href="tel:79996577771" class="footer__link">
            +7 (999) 657-777-1
          </a>
        </li>
        <li class="footer__item">
          <a href="mailto:beauryparadise@yandex.ru" class="footer__link">
            beautyparadise@yandex.ru
          </a>
        </li>
        <li class="footer__item">
          <a target="_blank" class="footer__link" href="https://yandex.ru/maps/org/beauty_paradise/109032261344/?ll=39.724164%2C43.618364&z=15">
            Донская ул., 54, Сочи • этаж 2
          </a>
        </li>
      </ul>

      <ul class="list-reset footer__list">
        <li class="footer__label">Режим работы:</li>
        <li class="footer__item">
          C 09:00 до 20:00 (Пн-Сб)
        </li>
      </ul>

      <div class="social__developer">
        <div class="social d-block">

          <ul class="list-reset nav social__list">

            <!-- <li class="social__item">
              <a target="_blank" class="social__link"  href="https://instagram.com/paradise_beauty.studio?igshid=YmMyMTA2M2Y=">
                <svg>
                  <use xlink:href="./img/sprite.svg#instagram"></use>
                </svg>
              </a>
            </li> -->

            <li class="social__item">
              <a target="_blank" class="social__link social__link--whatsapp"  href="https://wa.me/79996577771/">
                <svg>
                  <use xlink:href="./img/sprite.svg#whatsapp"></use>
                </svg>
              </a>
            </li>

            <li class="social__item">
              <a target="_blank" class="social__link social__link--telegram" href="//telegram.me/paradisebeautysochi">
                <svg>
                  <use xlink:href="./img/sprite.svg#telegram"></use>
                </svg>
              </a>
            </li>

            <li class="social__item">
              <a class="social__link" href="tel:79996577771">
                <svg>
                  <use xlink:href="./img/sprite.svg#phone"></use>
                </svg>
              </a>
            </li>
          </ul>

          <button class="btn btn-reset btn-primary social__btn">
            Записаться
          </button>
        </div>
        <ul class="list-reset footer__list">
          <li class="footer__item">
            <a href="//telegram.me/sargisPro" target="_blank" rel="noopener" class="footer__link footer__link--developer">
              Разработчик
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
