<header class="header">
  <div class="container header__container">
    <nav class="nav">
      <a href="#"><img class="logo" src="./img/svg/logo.svg" title="Большая английская буква P рядом написано Paradise beauty studio" alt="Логотип"></a>

      <ul class="list-reset nav__list">

        <li class="nav__item">
          <a href="./index.html" class="nav__link">
            Главная
          </a>
        </li>

        <li class="nav__item">
          <a href="./index.html#services" class="nav__link">
            Услуги
          </a>
        </li>

        <li class="nav__item">
          <a href="./jobs.html" class="nav__link">
            Вакансии
          </a>
        </li>

        <li class="nav__item">
          <a href="./index.html#about" class="nav__link">
            О нас
          </a>
        </li>

        <li class="nav__item nav__item--social">
          <div class="social d-block">
            <ul class="list-reset nav social__list">
<!--
              <li class="social__item">
                <a target="_blank" class="social__link"  href="https://instagram.com/paradise_beauty.studio?igshid=YmMyMTA2M2Y=">
                  <svg>
                    <use xlink:href="./img/sprite.svg#instagram"></use>
                  </svg>
                </a>
              </li> -->

              <li class="social__item">
                <a target="_blank" class="social__link social__link--whatsapp"  href="https://wa.me/79996577771/">
                  <svg>
                    <use xlink:href="./img/sprite.svg#whatsapp"></use>
                  </svg>
                </a>
              </li>

              <li class="social__item">
                <a target="_blank" class="social__link social__link--telegram" href="//telegram.me/paradisebeautysochi">
                  <svg>
                    <use xlink:href="./img/sprite.svg#telegram"></use>
                  </svg>
                </a>
              </li>

              <li class="social__item">
                <a class="social__link" href="tel:79996577771">
                  <svg>
                    <use xlink:href="./img/sprite.svg#phone"></use>
                  </svg>
                </a>
              </li>

            </ul>

            <button class="btn  btn-reset btn-primary social__btn">
              Записаться
            </button>
          </div>
        </li>
      </ul>

      <div class="social">
        <ul class="list-reset nav social__list">

          <!-- <li class="social__item">
            <a target="_blank" class="social__link"  href="https://instagram.com/paradise_beauty.studio?igshid=YmMyMTA2M2Y=">
              <svg>
                <use xlink:href="./img/sprite.svg#instagram"></use>
              </svg>
            </a>
          </li> -->

          <li class="social__item">
            <a target="_blank" class="social__link social__link--whatsapp"  href="https://wa.me/79996577771/">
              <svg>
                <use xlink:href="./img/sprite.svg#whatsapp"></use>
              </svg>
            </a>
          </li>

          <li class="social__item">
            <a target="_blank" class="social__link social__link--telegram" href="//telegram.me/paradisebeautysochi">
              <svg>
                <use xlink:href="./img/sprite.svg#telegram"></use>
              </svg>
            </a>
          </li>

          <li class="social__item">
            <a class="social__link social__link--call" href="tel:79996577771">
              <svg>
                <use xlink:href="./img/sprite.svg#phone"></use>
              </svg>
            </a>
          </li>

        </ul>

        <button  class="btn btn-reset btn-primary social__btn" aria-label="Открыть модальное окно" data-graph-path="true">
          Записаться
        </button>
      </div>
    </nav>


    <button class="burger" aria-label="Открыть меню" aria-expanded="true"  data-burger>
      <span class="burger__line"></span>
    </button>
  </div>
</header>
