<section class="job">
  <div class="container">
    <h2 class="title">Вакансии</h2>
    <h3 class="title job__subtitle">Мастера маникюра:</h3>
    <div class="price-services__wrapper price">
      <img src="./img/manicure.png" alt="Наращивание ногтей" title="Мастер красит ногти девушке">
      <p class="masters__descr price__list">
        Наш салон Beauty Paradise приглашает мастера
        маникюра присоединиться к&nbsp;нашей команде! Мы&nbsp;ищем талантливого специалиста с&nbsp;опытом работы, который обладает хорошей квалификацией и&nbsp;знанием последних тенденций в&nbsp;маникюре.
        Наш салон предлагает отличные условия труда, дружелюбный коллектив и&nbsp;возможности для профессионального роста.
        Если вы&nbsp;ищете стабильную и&nbsp;интересную работу, присоединяйтесь к&nbsp;нам!
      </p>
    </div>

    <h3 class="title job__subtitle">Парикмахкер стилист:</h3>
    <div class="price-services__wrapper price price__reverse">
      <img src="./img/hairstyle/hairstyle.jpg" alt="Наращивание ногтей" title="Мастер красит ногти девушке">
      <p class="masters__descr price__list">
        Отличная новость! В&nbsp;нашем салоне красоты открыта вакансия парикмахера-стилиста.
        Мы&nbsp;ищем талантливого профессионала, который умеет создавать прически на&nbsp;любой вкус и&nbsp;отлично понимает требования клиентов. Если вы&nbsp;обладаете креативностью, опытом работы и&nbsp;готовы к&nbsp;труду в&nbsp;дружном коллективе, мы&nbsp;будем рады видеть вас в&nbsp;нашей команде. Мы&nbsp;предлагаем конкурентную заработную плату, гибкий график работы, обучение и&nbsp;профессиональное развитие. Приходите к&nbsp;нам и&nbsp;станьте частью нашей успешной команды!
      </p>
    </div>


    <h3 class="title job__subtitle">Бровист:</h3>
    <div class="price-services__wrapper price">
      <img src="./img/brows/brow2.jpg" alt="Окрашивание бровей" title="Правый глаз с покрашеной бровью">
      <p class="masters__descr price__list">
        В&nbsp;наш салон красоты требуется опытный бровист! Мы&nbsp;ищем человека, который обладает профессиональными знаниями и&nbsp;умениями, способен создать идеальные брови для каждой клиентки. В&nbsp;обязанности входит проведение качественной консультации, определение формы бровей, коррекция и&nbsp;окрашивание, а&nbsp;также поддержание чистоты и&nbsp;порядка в&nbsp;рабочем месте. Если у&nbsp;вас есть опыт работы, профессиональный подход к&nbsp;делу и&nbsp;желание работать в&nbsp;дружном коллективе, мы&nbsp;будем рады принять вас в&nbsp;нашу команду!
      </p>
    </div>

    <h3 class="title job__subtitle">Наращивание ресниц:</h3>
    <div class="price-services__wrapper price price__reverse">
      <img src="./img/eyelashes/eyelashes.jpg" alt="Нарощеные ресницы в макросъемке" title="Нарощенные ресницы в макросъемке">
      <p class="masters__descr price__list">
        В&nbsp;салон красоты требуется мастер по&nbsp;наращиванию ресниц. Мы&nbsp;ищем талантливого специалиста, который в&nbsp;совершенстве владеет техниками наращивания ресниц и&nbsp;может создать неповторимый образ для каждой нашей клиентки. Ваша работа будет заключаться в&nbsp;наращивании и&nbsp;корректировке ресниц, подборе оптимальной формы и&nbsp;длины, а&nbsp;также консультации клиентов по&nbsp;уходу за&nbsp;ресницами. Мы&nbsp;ждем кандидатов с&nbsp;опытом работы, креативным мышлением, чуткостью и&nbsp;вниманием к&nbsp;деталям. Если вы&nbsp;стремитесь к&nbsp;профессиональному развитию и&nbsp;хотите работать в&nbsp;команде профессионалов, то&nbsp;наш салон красоты открыт для вас!
      </p>
    </div>

    <h3 class="title job__subtitle">Визажист:</h3>
    <div class="price-services__wrapper price">
      <img src="./img/make-up.jpg" alt="Окрашивание бровей" title="Правый глаз с покрашеной бровью">
      <p class="masters__descr price__list">
        В&nbsp;салоне красоты мы&nbsp;ищем талантливого визажиста, который обладает уникальным взглядом на&nbsp;красоту и&nbsp;стиль, и&nbsp;способен помочь нашим клиентам выглядеть и&nbsp;чувствовать себя прекрасно. В&nbsp;качестве визажиста вы&nbsp;будете работать вместе с&nbsp;нашей командой профессионалов, чтобы создавать индивидуальные образы для наших клиентов, учитывая их&nbsp;индивидуальные черты лица и&nbsp;стилистические предпочтения.
      </p>
    </div>

    <div class="form">
      <form action="#" class="form__fild">
        <label class="form__label">
          Ваше имя
          <input type="text" name="name" class="input-reset form__input" placeholder="Ваше имя">
        </label>

        <label class="form__label">
          Ваш телефон
          <input type="tel" name="phone" class="input-reset form__input _req" placeholder="+7 ( _ _ _ ) _ _ _ - _ _ - _ _">
        </label>

        <label class="form__label form__label--textarea">
          О себе
          <textarea class="input-reset form__input form__input--textarea" name="name" placeholder="Расскажите о своем опыте работы..."></textarea>
        </label>
          <button type="submit" class="btn-reset form__btn">Откликнуться</button>
      </form>
    </div>

  </div>
</section>
