<section id="services" class="services">
  <div class="container">
    <h2 class="services__title visible-hidden">hidden</h2>

    <h2 class="title">Наши Услуги</h2>
    <ul class="list-reset services__list">
      <li class="services__item"><a href="./hairdresser.html" class="services__link">
        <img src="./img/hairdresser/hairdresser1.jpeg" class="services__img" alt="Наращивание ногтей" title="Мастер красит ногти девушке">
        <span>Услуги парикмахера</span>
      </a>

      </li>
      <li class="services__item"><a href="./nail.html" class="services__link">
        <img src="./img/manicure.png" class="services__img" alt="Наращивание ногтей" title="Мастер красит ногти девушке">
        <span>Ногтевой сервис</span>
      </a>
      </li>
      <li class="services__item"><a href="./pedicure.html" class="services__link">
        <img src="./img/pedicure.png" class="services__img" alt="Ноги девушки" title="Ноги девушки в воде с цветами">
        <span>Педикюр</span>
      </a>

      </li>
      <li class="services__item"><a href="./brows.html" class="services__link">
        <img src="./img/brows.jpg" class="services__img" alt="Покрашенная бровь" title="Лицо девушки и покрашенная бровь">
        <span>Бровист</span>
      </a>

      </li>
      <li class="services__item"><a href="./cosmetology.html" class="services__link">
        <img src="./img/cosmetology.png" class="services__img" alt="Лежит девушка" title="Девушке наносят маску кисточкой">
        <span>Косметология</span>
      </a>

      </li>
      <li class="services__item"><a href="./eyelashes.html" class="services__link">
        <img src="./img/eyelashes/eyelashes3.jpg" class="services__img" alt="Наращивание ресниц" title="Мастер наращивает девушке ресницы">
        <span>Наращивание ресниц</span>
      </a>
      </li>
    </ul>


    <ul class="list-reset cooperation">
      <li class="cooperation__item">
        <svg>
          <use xlink:href="./img/sprite.svg#browXenna"></use>
        </svg>
      </li>
      <li class="cooperation__item">
        <svg>
          <use xlink:href="./img/sprite.svg#bandi"></use>
        </svg>
      </li>
      <li class="cooperation__item">
        <svg>
          <use xlink:href="./img/sprite.svg#shik"></use>
        </svg>
      </li>
      <li class="cooperation__item">
        <svg>
          <use xlink:href="./img/sprite.svg#thuya"></use>
        </svg>
      </li>
      <li class="cooperation__item">
        <svg>
          <use xlink:href="./img/sprite.svg#bronsun"></use>
        </svg>
      </li>
    </ul>

  </div>
</section>
