<section class="subheader subheader-p">
  <div class="container subheader__container">
    <h1 class=" subheader__title">Салон красоты <br> Beauty Paradise <br> в Сочи</h1>
    <div class="contacts">
      <img class="contacts__click" src="./img/svg/click.svg" alt="Баннер" title="Кнопка клика">
      <span class="contacts__cross">&#10008;</span>
      <h2 class="title">Записаться</h2>

      <div class="request__form form">
        <form action="#" class="form__fild">

          <label class="form__label">
            Ваше имя
            <input type="text" name="Имя" class="input-reset form__input" placeholder="Ваше имя">
          </label>

          <label class="form__label">
            Ваш телефон
            <input type="tel" name="Телефон" class="input-reset form__input _req" placeholder="+7 ( _ _ _ ) _ _ _ - _ _ - _ _">
          </label>

          <button type="submit" class="btn-reset form__btn">Записаться</button>
        </form>
      </div>

      <ul class="list-reset contacts__list">
        <li class="contacts__caption">
          Контакты:
        </li>

        <li class="contacts__item">
          <a href="tel:79183024205" class="contacts__link">
            +7 (918) 302-42-05
          </a>
        </li>

        <li class="contacts__item">
          <a href="tel:79996577771" class="contacts__link">
            +7 (999) 65-7777-1
          </a>
        </li>
        <li class="contacts__item">
          <a href="mailto:beauryparadise@yandex.ru" class="contacts__link">
            beautyparadise@yandex.ru
          </a>
        </li>
        <li class="contacts__item">
          <a target="_blank" class="contacts__link" href="https://yandex.ru/maps/org/beauty_paradise/109032261344/?ll=39.724164%2C43.618364&z=15">
            Донская ул., 54, Сочи • этаж 2
          </a>
        </li>
      </ul>

      <ul class="contacts__list list-reset">

        <li class="contacts__caption">
          Режим работы:
        </li>

        <li class="contacts__item contacts__item--date ">
          C 09:00 до 20:00 (Пн-Сб)
        </li>
      </ul>
    </div>
  </div>
</section>
