<section class="work">
  <div class="container">

    <h2 class="title">Наши работы</h2>

    <div class="tabs">
      <ul class="list-reset tabs__header">
        <li class="tabs__header-item active" data-tab="tab1">Показать все</li>
        <li class="tabs__header-item" data-tab="tab2">Женские стрижки</li>
        <li class="tabs__header-item" data-tab="tab4">Маникюр</li>
        <li class="tabs__header-item" data-tab="tab3">Мужские стрижки</li>
        <li class="tabs__header-item" data-tab="tab5">Педикюр</li>
        <li class="tabs__header-item" data-tab="tab6">Татуаж</li>
        <li class="tabs__header-item" data-tab="tab7">Наращивание ресниц</li>
      </ul>

      <div class="tabs__content services">
        <div class="tabs__content-item active" data-tab="tab1">
            <ul class="list-reset services__list services__list-work">

              <li class="services__item">
                <img src="./img/hairstyle/hairstyle.jpg" alt="Девушка сидит спиной" title="Волнистые волосы девушки"  class="services__img img-modal-show">
              </li>
              <li class="services__item">
                <img src="./img/hairstyle/hairstyle2.jpg" alt="Девушка сидит спиной" title="Волнистые волосы девушки"  class="services__img img-modal-show">
              </li>
              <li class="services__item">
                <img src="./img/hairstyle/hairstyle3.jpg" alt="Девушка сидит спиной" title="Волнистые волосы девушки"  class="services__img img-modal-show">
              </li>
              <li class="services__item">
                <img src="./img/hairstyle/hairstyle4.jpg" alt="Девушка сидит спиной" title="Волнистые волосы девушки"  class="services__img img-modal-show">
              </li>
              <li class="services__item">
                <img src="./img/hairstyle/hairstyle5.jpg" alt="Девушка сидит спиной" title="Прямые волосы девушки"  class="services__img img-modal-show">
              </li>

              <li class="services__item">
                <img src="./img/haircut/haircut.jpg" alt="Стрижка мужчины" title="Мужчина в профиль" class="services__img img-modal-show">
              </li>
              <li class="services__item">
                <img src="./img/haircut/haircut2.jpg" alt="Несколько фотографий мужской стрижки" title="Коллаж фотографий мужчины в профиль сзади и фронтом" class="services__img img-modal-show">
              </li>
              <li class="services__item">
                <img src="./img/haircut/haircut3.jpg" alt="Несколько фотографий мужской стрижки" title="Коллаж фотографий мужчины с боков" class="services__img img-modal-show">
              </li>
              <li class="services__item">
                <img src="./img/haircut/haircut4.jpg" alt="Стрижка мужчины сбоку" title="Стрижка мужчины протянута рука ко лбу" class="services__img img-modal-show">
              </li>
              <li class="services__item">
                <img src="./img/haircut/haircut5.jpg" alt="Стрижка мужчины сзади" title="Стрижка мужчины сбоку протянута рука ко лбу" class="services__img img-modal-show">
              </li>

              <li class="services__item">
                <img src="./img/manicure/manicure.jpg" alt="Пальцы девушки" title="Рука девушки ногти кольца" class="services__img img-modal-show">
              </li>
              <li class="services__item">
                <img src="./img/manicure/manicure2.jpg" alt="Пальцы девушки" title="Рука девушки,ногти,кольца" class="services__img img-modal-show">
              </li>
              <li class="services__item">
                <img src="./img/manicure/manicure3.jpg" alt="Пальцы девушки" title="Рука девушки,ногти,кольца" class="services__img img-modal-show">
              </li>
              <li class="services__item">
                <img src="./img/manicure/manicure4.jpg" alt="Пальцы девушки" title="Рука девушки,ногти,кольца" class="services__img img-modal-show">
              </li>
              <li class="services__item">
                <img src="./img/manicure/manicure5.jpg" alt="Пальцы девушки" title="Рука девушки,ногти,кольца" class="services__img img-modal-show">
              </li>

              <li class="services__item">
                <img src="./img/pedicure/pedicure.jpg" alt="Пальцы ног" title="Красит ногти пальцев ног" class="services__img img-modal-show">
              </li>
              <li class="services__item">
                <img src="./img/pedicure/pedicure2.jpg" alt="Стопа в правой лодошке" title="Стопа в правой ладошке салатовый педикюр" class="services__img img-modal-show">
              </li>
              <li class="services__item">
                <img src="./img/pedicure/pedicure3.jpg" alt="Стопа в левой лодошке" title="Стопа в левой ладошке малиновый педикюр" class="services__img img-modal-show">
              </li>
              <li class="services__item">
                <img src="./img/pedicure/pedicure4.jpg" alt="Две стопы" title="Две стопы, красный педикюр" class="services__img img-modal-show">
              </li>
              <li class="services__item">
                <img src="./img/pedicure/pedicure5.jpg" alt="Левая стопа" title="Левая стопа, темно-синий педикюр" class="services__img img-modal-show">
              </li>

              <li class="services__item">
                <img src="./img/cosmetology/cosmetology.jpg" alt="Губы после татуажа" title="Лицо девушки губы" class="services__img img-modal-show">
              </li>
              <li class="services__item">
                <img src="./img/cosmetology/cosmetology2.jpg" alt="Губы после татуажа" title="Лицо девушки губы" class="services__img img-modal-show">
              </li>
              <li class="services__item">
                <img src="./img/cosmetology/cosmetology3.jpg" alt="Губы после татуажа" title="Лицо девушки губы" class="services__img img-modal-show">
              </li>
              <li class="services__item">
                <img src="./img/cosmetology/cosmetology4.jpg" alt="Губы после татуажа" title="Лицо девушки губы" class="services__img img-modal-show">
              </li>

              <li class="services__item">
                <img src="./img/eyelashes/eyelashes.jpg" alt="Нарощеные ресницы маленькое зеркало" title="Нарощеные ресницы в отрожении маленького зеркало" class="services__img img-modal-show">
              </li>
              <li class="services__item">
                <img src="./img/eyelashes/eyelashes2.jpg" alt="Нарощеные ресницы в макросъемке" title="Нарощенные ресницы в макросъемке" class="services__img img-modal-show">
              </li>
              <li class="services__item">
                <img src="./img/eyelashes/eyelashes3.jpg" alt="Наращивание ресниц с инсрументами" title="Процесс наращивание ресниц с щипцами" class="services__img img-modal-show">
              </li>
              <li class="services__item">
                <img src="./img/eyelashes/eyelashes4.jpg" alt="Наращивание ресниц с инсрументами" title="Процесс наращивание ресниц с щипцами" class="services__img img-modal-show">
              </li>

              <li class="services__item">
                <img src="./img/brows/brow.jpg" alt="Окрашивание бровей" title="Левый глаз с покрашеной бровью" class="services__img img-modal-show">
              </li>
              <li class="services__item">
                <img src="./img/brows/brow2.jpg" alt="Окрашивание бровей" title="Правый глаз с покрашеной бровью" class="services__img img-modal-show">
              </li>
              <li class="services__item">
                <img src="./img/brows/brow3.jpg" alt="Брови под пленкой" title="Левая бровь под пленкой" class="services__img img-modal-show">
              </li>
              <li class="services__item">
                <img src="./img/brows/brow4.jpg" alt="Брови и глаза" title="Брови после татуажа" class="services__img img-modal-show">
              </li>

            </ul>
        </div>

        <div class="tabs__content-item" data-tab="tab2">
          <ul class="list-reset services__list services__list-work">
            <li class="services__item">
              <img src="./img/hairstyle/hairstyle.jpg" alt="Девушка сидит спиной" title="Волнистые волосы девушки"  class="services__img img-modal-show">
            </li>
            <li class="services__item">
              <img src="./img/hairstyle/hairstyle2.jpg" alt="Девушка сидит спиной" title="Волнистые волосы девушки"  class="services__img img-modal-show">
            </li>
            <li class="services__item">
              <img src="./img/hairstyle/hairstyle3.jpg" alt="Девушка сидит спиной" title="Волнистые волосы девушки"  class="services__img img-modal-show">
            </li>
            <li class="services__item">
              <img src="./img/hairstyle/hairstyle4.jpg" alt="Девушка сидит спиной" title="Волнистые волосы девушки"  class="services__img img-modal-show">
            </li>
            <li class="services__item">
              <img src="./img/hairstyle/hairstyle5.jpg" alt="Девушка сидит спиной" title="Прямые волосы девушки"  class="services__img img-modal-show">
            </li>
          </ul>
        </div>

        <div class="tabs__content-item" data-tab="tab3">
          <ul class="list-reset services__list services__list-work">
            <li class="services__item">
              <img src="./img/haircut/haircut.jpg" alt="Стрижка мужчины" title="Мужчина в профиль" class="services__img img-modal-show">
            </li>
            <li class="services__item">
              <img src="./img/haircut/haircut2.jpg" alt="Несколько фотографий мужской стрижки" title="Коллаж фотографий мужчины в профиль сзади и фронтом" class="services__img img-modal-show">
            </li>
            <li class="services__item">
              <img src="./img/haircut/haircut3.jpg" alt="Несколько фотографий мужской стрижки" title="Коллаж фотографий мужчины с боков" class="services__img img-modal-show">
            </li>
            <li class="services__item">
              <img src="./img/haircut/haircut4.jpg" alt="Стрижка мужчины сбоку" title="Стрижка мужчины протянута рука ко лбу" class="services__img img-modal-show">
            </li>
            <li class="services__item">
              <img src="./img/haircut/haircut5.jpg" alt="Стрижка мужчины сзади" title="Стрижка мужчины сбоку протянута рука ко лбу" class="services__img img-modal-show">
            </li>
          </ul>
        </div>

        <div class="tabs__content-item" data-tab="tab4">
          <ul class="list-reset services__list services__list-work">
            <li class="services__item">
              <img src="./img/manicure/manicure.jpg" alt="Пальцы девушки" title="Рука девушки ногти кольца" class="services__img img-modal-show">
            </li>
            <li class="services__item">
              <img src="./img/manicure/manicure2.jpg" alt="Пальцы девушки" title="Рука девушки,ногти,кольца" class="services__img img-modal-show">
            </li>
            <li class="services__item">
              <img src="./img/manicure/manicure3.jpg" alt="Пальцы девушки" title="Рука девушки,ногти,кольца" class="services__img img-modal-show">
            </li>
            <li class="services__item">
              <img src="./img/manicure/manicure4.jpg" alt="Пальцы девушки" title="Рука девушки,ногти,кольца" class="services__img img-modal-show">
            </li>
            <li class="services__item">
              <img src="./img/manicure/manicure5.jpg" alt="Пальцы девушки" title="Рука девушки,ногти,кольца" class="services__img img-modal-show">
            </li>
          </ul>
        </div>

        <div class="tabs__content-item" data-tab="tab5">
          <ul class="list-reset services__list services__list-work">
            <li class="services__item">
              <img src="./img/pedicure/pedicure.jpg" alt="Пальцы ног" title="Красит ногти пальцев ног" class="services__img img-modal-show">
            </li>
            <li class="services__item">
              <img src="./img/pedicure/pedicure2.jpg" alt="Стопа в правой лодошке" title="Стопа в правой ладошке салатовый педикюр" class="services__img img-modal-show">
            </li>
            <li class="services__item">
              <img src="./img/pedicure/pedicure3.jpg" alt="Стопа в левой лодошке" title="Стопа в левой ладошке малиновый педикюр" class="services__img img-modal-show">
            </li>
            <li class="services__item">
              <img src="./img/pedicure/pedicure4.jpg" alt="Две стопы" title="Две стопы, красный педикюр" class="services__img img-modal-show">
            </li>
            <li class="services__item">
              <img src="./img/pedicure/pedicure5.jpg" alt="Левая стопа" title="Левая стопа, темно-синий педикюр" class="services__img img-modal-show">
            </li>
          </ul>
        </div>

        <div class="tabs__content-item" data-tab="tab6">

          <ul class="list-reset services__list services__list-work">
            <li class="services__item">
              <img src="./img/brows/brow.jpg" alt="Окрашивание бровей" title="Левый глаз с покрашеной бровью" class="services__img img-modal-show">
            </li>

            <li class="services__item">
              <img src="./img/cosmetology/cosmetology2.jpg" alt="Губы после татуажа" title="Лицо девушки губы" class="services__img img-modal-show">
            </li>
            <li class="services__item">
              <img src="./img/brows/brow3.jpg" alt="Брови под пленкой" title="Левая бровь под пленкой" class="services__img img-modal-show">
            </li>
            <li class="services__item">
              <img src="./img/cosmetology/cosmetology3.jpg" alt="Губы после татуажа" title="Лицо девушки губы" class="services__img img-modal-show">
            </li>
            <li class="services__item">
              <img src="./img/brows/brow2.jpg" alt="Окрашивание бровей" title="Правый глаз с покрашеной бровью" class="services__img img-modal-show">
            </li>
            <li class="services__item">
              <img src="./img/cosmetology/cosmetology.jpg" alt="Губы после татуажа" title="Лицо девушки губы" class="services__img img-modal-show">
            </li>

            <li class="services__item">
              <img src="./img/cosmetology/cosmetology4.jpg" alt="Губы после татуажа" title="Лицо девушки губы" class="services__img img-modal-show">
            </li>
            <li class="services__item">
              <img src="./img/brows/brow4.jpg" alt="Брови и глаза" title="Брови после татуажа" class="services__img img-modal-show">
            </li>
          </ul>
        </div>

        <div class="tabs__content-item" data-tab="tab7">

          <ul class="list-reset services__list services__list-work">
            <li class="services__item">
                <img src="./img/eyelashes/eyelashes.jpg" alt="Нарощеные ресницы маленькое зеркало" title="Нарощеные ресницы в отрожении маленького зеркало" class="services__img img-modal-show">
              </li>
              <li class="services__item">
                <img src="./img/eyelashes/eyelashes2.jpg" alt="Нарощеные ресницы в макросъемке" title="Нарощенные ресницы в макросъемке" class="services__img img-modal-show">
              </li>
              <li class="services__item">
                <img src="./img/eyelashes/eyelashes3.jpg" alt="Наращивание ресниц с инсрументами" title="Процесс наращивание ресниц с щипцами" class="services__img img-modal-show">
              </li>
              <li class="services__item">
                <img src="./img/eyelashes/eyelashes4.jpg" alt="Наращивание ресниц с инсрументами" title="Процесс наращивание ресниц с щипцами" class="services__img img-modal-show">
              </li>
          </ul>
        </div>

      </div>

    </div>

    <div id="modal">
      <div class="modal-wrapper">
        <div class="modal-content">
          <img class="modal-img" alt="Картинка на которую кликнули" src="#">
        </div>
      </div>
    </div>

  </div>
</section>
